* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: rgb(0, 0, 0);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #080808;
    background-image: linear-gradient(to top, #fff 0%, #ef4646 150%);
    background-size: 100%;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right:  0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f0194f;
    color: #fff;
}

.button:hover {
    background: #072ff8;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color:#1a34db;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display:block;
        justify-content: space-between;
        height: 40px;
        z-index: 1;
        width: 100%;
        max-width: 1000px;
        padding: 1;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: 1;
        background: #fdfcfc;

    }

    .navbar__menu.active {
        background: #ffffff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1rem;
    }
    #navbar__logo {
        padding-left: 2px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align:right;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 100%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 1rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 100;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(5px) rotate(25deg); 
    }
    
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 1; 
        transform: translateY(10px) rotate(-25deg); 
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(15px) rotate(25deg); 
    }

    
    
}

/* Hero Section CSS */
.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0;
    height: 100vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1920px;
    padding:  0px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb119 100%);
    background-size: 100%;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ffffff 0%, #21d4fd 100%);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(247, 241, 241);
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 1px 32px;
    border: none;
    border-radius: 4px;
    color: rgb(245, 244, 244);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: rgb(252, 248, 248);
    text-decoration: none;
}

.main__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f0f0f4;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: rgb(249, 249, 249);
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 100%;
    width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width:450px) {
    .main__container{
        display:grid;
        grid-template-columns:auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 1;
        height: 100vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 2rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 21rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .main__content h2 {
        font-size: 1rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem ;
    }
}

/* Services section CSS */
.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%,
    #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, 
    rgba(0,0,0,0) 100%, 
    rgba(17,17,17,0.6) 100%
    ),
    url('pics3.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, 
    rgba(254, 252, 252, 0) 100%, 
    rgba(17,17,17,0.6) 100%
    ),
    url('pics3.jpg');
    color: #fff
}

.services h2 {
    position: absolute;
    top: 250px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: rgb(250, 250, 250);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #cf556c;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 50px){
    .services {
        height: 800px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width:500px) {
    .services {
        height: 1200px;
    }

    .services h1 {
        font-size: 1rem;
    }

    .services__card {
        width: 350px;
    }
}

/* Footer CSS */
.footer__container {
    background-color: #141414 ;
    padding: 2rem 0;
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #faf8f8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#footer__links {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__link--items {
    flex: 1;
    justify-content: space-between; 
    margin: 16px; 
    min-width: 160px; 
}

.footer__link--items h2 {
    margin-bottom: 20px;
}

.footer__link--items > h2 {
    color: #fffefe;
}

.footer__link--items a {
    color: rgb(248, 248, 248);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #1b4de2;
    transition: 0.3s ease-out;
}

/* Soical Icons */
.social__icon--link {
    color: rgb(255, 252, 252);
    font-size: 30px;
}

.social__media {
    max-width: 1920px;
    width: 80%;
}

.social__media--wrap {
    display:flex;
    justify-content: space-between;
    flex-wrap:initial;
    align-items: center;
    width: 80%;
    max-width: 1920px;
    margin: 40px auto 0 auto;
}

.social__icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 1280px;
}

.social__logo {
    color: #fff;
    justify-content: flex-start;
    margin-left: 23px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.website__rights {
    color: #faf9f9;
}

@media screen and (max-width:830px) {
    .footer__link {
        padding: 8rem;
    }

    #footer__logo {
        margin-bottom: 3rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 100px) {
    .footer__link--items {
        margin: 0;
        padding: 1px;
        width: 1%;
    }
}